doctype html
html
	head
		include common/_header.jade
		link(rel='stylesheet',href='../css/view/login/login.view.css')
	body
		.ui.middle.aligned.center.aligned.grid
			.column
				h2.ui.teal.image.header
					img.image(src='../images/logo.png')
					.content 用户登录
				form#loginForm.ui.large.form(method="post")
					.ui.segment
						.field
							.ui.left.icon.input
								i.user.icon
								input(name='email', placeholder='邮箱账号')
						.field
							.ui.left.icon.input
								i.lock.icon
								input(type='password', name='password', placeholder='密码')
						.ui.fluid.large.teal.submit.button 登录
					.ui.error.message
		script.
			requirejs(['../js/config/require-config.js'], function(){
				requirejs(['login']);
			});
